### Compiled class file ###
*.class

### Log file ###
*.log

### IntelliJ IDEA ###
.idea
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.metadata
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
!**/src/main/**/bin/
!**/src/test/**/bin/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

### BlueJ files ###
*.ctxt

### Mobile Tools for Java (J2ME) ###
.mtj.tmp/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Package Files ###
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### END OF GRADLE ###

### Virtual machine crash logs ###
hs_err_pid*
replay_pid*

### Mac OS ###
.DS_Store